.scroll-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  z-index: 100;
  background-color: #a65e58;
  border-radius: 5px;
  font-size: 3rem;
  color: #F29B9B
}

.scroll-to-top:hover{
    background-color: white;
    color:  #F29B9B;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrow-up{
    padding: 1rem;
}