body,
html {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.app-root {
  text-align: center;
}

.app-header {
  background-color: #A65E58;
  padding: 10px;
  color: #F2F2F2;
  font-size: 20pt;
}

.header-heart {
  float: right;
  color: #F2F2F2;
}

.header-heart:hover {
  color: #a6032f;
  cursor: pointer;
}
.app-input {
  line-height: 30px;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #343E46;
  width: 400px;
  margin-bottom: 30px;
}
