.image-modal {
  outline: none;
  position: fixed;
  border: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: center;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-button{
  text-decoration: none;
  position: absolute;
  top: 0;
  line-height: 36px;
  font-size: 30px;
  background: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  display: inline;
  cursor: pointer;
}

.download-button{
  left: 0;
  border-radius: 0 0 5px 0;
}

.download-button:hover{
  background: #A65E58;
}

.close-button {
  color: #343E46;
  right: 0;
  border-radius: 0 0 0 5px;
}
.close-button:hover {
  color:#A65E58;
  text-decoration: none;
}

.image-in-modal {
  width: 100%;
}
