.wix-page{
    color: #343E46;
    background-color: #F2F2F2;
    margin: 0;
    height: 100;
}

.wix-link{
    text-decoration: none;
    color:#8C5245;
}

.wix-link:visited{
    color:#8C5245;
}

.wix-link:hover{
    color: #A67051;
}

.youtube{
    background-color: #8C5245;
    padding: 1rem;
    border-radius: 5px;
}